@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
.dropbtn {
    background-color: #ffffff;
    color: #000;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    padding: 7px 17px 7px 17px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffff;
    min-width: 160px;
    border-radius: 10px;
    border: 1px solid #8A8A8A;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 10px;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
}
  
  .dropdown:hover .dropbtn {
    transition: 0.3s;
    background-color: #999999;
}
.header_container_1_1 {
    background-color: #FF6A00;
    display: flex;
    justify-content: center;
}
.header_container_1_1_1, .header_container_1_1_1_1, .header_container_1_1_1_2, .header_container_1_1_1_2_item, .header_container_1_1_1_1_input {
    display: flex;
    color: #fff;
    align-items: center;
}
.header_container_1_1_1_2_item {
    flex-direction: column;
    gap: 3px;
    font-size: 19px;
    margin-top: 8px;
    margin-bottom: 8px;
    cursor: pointer;
}
.header_container_1_1_1_2 {
    gap: 36px;
}
.header_container_1_1_1 h1 {
    font-size: 19px;
    cursor: pointer;
}
.header_container_1_1_1_1 {
    gap: 17px;
    margin-left: 56px;
    margin-right: 136px;
}
.header_container_1_1_1_1_input input[type=text] {
    padding: 7px;
    border-radius: 5px 0px 0px 5px;
    width: 289px;
    outline: none;
    border: none;
}
.header_container_1_1_1_1_input button[type=submit] {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}
.header_container_1_2_1 {
    display: flex; 
    gap: 14px;
    justify-content: center;
    color: #999999;
}
.header_container_1_2 {
    display: flex;
    justify-content: center;
    background-color: #F8F9FA;
    align-items: center;
    height: 44px;
    box-shadow: 0 0.125rem 0.25rem rgba(33,37,41,.07);
}
.header_container_1_2_1 p:nth-child(1) {
    color: #DC3545;
    font-weight: bolder;
}
.header_container_1_2_1 p:nth-child(2) {
    color: #198754;
    font-weight: bolder;
}
.header_container_1_2_1 p {
    cursor: pointer;
}
.section-1-container-1, .section-1-container-7 {
    display: flex;
    gap: 30px;
    justify-content: center;
}
.section-1-container-1-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    padding-top: 17px;
    padding-bottom: 29px;
    padding-left: 41px;
    padding-right: 41px;
    border-radius: 16px;
    border: 1px solid #E3E3E3;
    cursor: pointer;
}
.section-1 {
    margin-top: 31.16px;
}
.section-1-container-2-1-1, .section-1-container-2-1-2, .section-1-container-2-1-3, .section-1-container-2-1-4 {
    display: flex;
    gap: 50px;
}
.section-1-container-2 {
    margin-top: 26.19px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}
.section-1-container-2 h1 {
    width: 1219.11px;
    padding-bottom: 24px;
    text-align: center;
    border-bottom: 1px solid #DEE2E6;;
    font-size: 24px;
}
.section-1-container-2-1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.section-1-container-2-1-item {
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #DEE2E6;
    width: 270px;
    cursor: pointer;
    user-select: none;
    height: 74px;
    gap: 9px;
    padding-left: 15px;
}
.section-1-container-3 {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}
.section-1-container-3-1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.section-1-container-3-1-1, .section-1-container-3-1-2, .section-1-container-3-1-3, .section-1-container-3-1-4 {
    display: flex;
    gap: 24px;
}
.section-1-container-3-1-item {
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #DEE2E6;
    padding: 10px;
    cursor: pointer;
}
.section-1-container-3-1-item img {
    width: 162px;
    height: 55px;
}
.section-1-container-3 h1 {
    width: 1219.11px;
    padding-bottom: 24px;
    text-align: center;
    border-bottom: 1px solid #DEE2E6;;
    font-size: 24px;
}
.section-1-container-4-1-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 4px;
    justify-content: space-between;
    width: 213px;
    height: 380px;
}
.item-text {
    display: flex;
    justify-content: space-between;
}
.item-text p:nth-child(1) {
    color: #8A8A8A;
}
.item-text p:nth-child(2) {
    color: green;
}
.item-cart {
    display: flex;
    justify-content: space-between;
}
.item-cart button {
    padding: 0px 9px 0px 9px;
    display: flex;
    align-items: center;
    gap: 4px;
    border: 1px solid #6C757D;
    background-color: #FF6A00;
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
}
.con-4-h1 {
    width: 1331.11px;
    padding-bottom: 24px;
    text-align: center;
    border-bottom: 1px solid #DEE2E6;
    font-size: 24px;
}
.section-1-container-4-1-1, .section-1-container-4-1-2 {
    display: flex;
    gap: 12px;
}
.section-1-container-4 {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}
.section-1-container-4-1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.section-1-container-5-1-1 {
    display: flex;
}
.section-1-container-5-1-1-1 {
    display: flex;
    flex-direction: column;
    gap: 33px;
    width: 636px;
}
.section-1-container-5-2-1 {
    width: 416px;
    height: 346px;
    border-radius: 3px 3px 5px 5px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 8px 8px #bababb;
    border: 2px solid rgba(0, 0, 0, 0.176);
    user-select: none;
    cursor: pointer;
}
.section-1-container-5-2-1_text {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.176);
    padding-top: 17px;
    padding-bottom: 17px;
    background-color: rgba(33, 37, 41, 0.03);
}
.section-1-container-5-2-1 p {
    padding-left: 17px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}
.section-1-container-5-2 {
    display: flex;
    gap: 24px;
}
.section-1-container-5-1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.section-1-container-5 {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}
.section-1-container-5-1-1 {
    display: flex;
    justify-content: space-between;
}
.section-1-container-5-1-1-1 p {
    font-size: 16px;
    color: #6a6a6a;
}
.section-1-container-5-1-1-1 h1 {
    font-size: 24px;
}
.con-5-h1 {
    width: 1290.11px;
    padding-bottom: 24px;
    text-align: center;
    border-bottom: 1px solid #DEE2E6;;
    font-size: 24px;
}
.header_container_1_1_1_1_input_none {
    display: none;
    color: #fff;
    align-items: center;
    margin-top: 10px;
}
.header_container_1_1_1_1_input_none input[type=text] {
    padding: 7px;
    border-radius: 5px 0px 0px 5px;
    width: 289px;
    border: 1px solid #6a6a6a;
    outline: none;
}
.header_container_1_1_1_1_input_none button[type=submit] {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}
.section-1-container-5-1-1-1 button {
    width: 162px;
    height: 34px;
    border-radius: 6px;
    border: 1px solid #0D6EFD;
    background-color: #fff;
    color: #0D6EFD;
    font-weight: bold;
    cursor: pointer;
}
.con-6-item_text_1 p {
    border-left: 2px solid #0D6EFD;
    padding: 5px;
    margin: 15px;
}
.section-1-container-6-1-item {
    justify-content: space-between;
    flex-direction: column;
    width: 306px;
    border-radius: 6px;
    border: 1px solid rgba(33, 37, 41, 0.10);
    display: flex;
}
.con-6-item_text_2 {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-top: 1px solid rgba(33, 37, 41, 0.10);
    background-color: rgba(33, 37, 41, 0.05);
}
.con-6-item_text_2 p:nth-child(2) {
    color: #6C757D;
}
.section-1-container-6-1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.section-1-container-6 {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}
.section-1-container-6-1-1, .section-1-container-6-1-2 {
    display: flex;
    gap: 36px;
}
.section-1-container-7 {
    margin-top: 46.22px;
    margin-bottom: 46.22px;
}
.footer_container_1_1, .footer_container_1_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 660px;
}
.footer {
    background-color: #F8F9FA;
    display: flex;
    justify-content: center;
}
.footer_container_1 {
    display: flex;
    justify-content: space-between;
    width: 1250px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.footer_container_1_2 {
    align-items: flex-end;
}
.footer_container_1_2_btn {
    display: flex;
    gap: 6px;
}
.footer_container_1_2_btn button:nth-child(1) {
    padding: 6px 13px 6px 13px;
    border-radius: 6px;
    border: none;
    background-color: #198754;
    color: #fff;
    cursor: pointer;
}
.footer_container_1_2_btn button:nth-child(2) {
    padding: 6px 13px 6px 13px;
    border-radius: 6px;
    border: none;
    background-color: #0D6EFD;
    color: #fff;
    cursor: pointer;
}
.footer_container_1_1 h1 {
    color: #FF6900;
    font-size: 20px;
}
.footer_container_1_1 p, .footer_container_1_2 p {
    color: rgba(33, 37, 41, 0.75);
    font-size: 14px;
}
.footer_container_1_1 {
    gap: 8px;
}
.footer_container_1_2 h1 {
    font-size: 28px;
    color: rgba(33, 37, 41, 0.75);
}
@media (max-width:900px) {
    .header_container_1_1 {
        background-color: #FF6A00;
        display: flex;
        justify-content: center;
    }
    .header_container_1_2 {
        display: flex;
        background-color: #F8F9FA;
        align-items: center;
        height: 44px;
        justify-content: normal;
        overflow: hidden;
        box-shadow: 0 0.125rem 0.25rem rgba(33,37,41,.07);
    }
    .section-1-container-1-1 {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 12px;
        padding-top: 17px;
        padding-bottom: 29px;
        border-radius: 16px;
        border: 1px solid #E3E3E3;
        cursor: pointer;
    }
    .section-1-container-2 h1 {
        padding-bottom: 24px;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #DEE2E6;
        font-size: 24px;
    }
    .section-1-container-3 h1 {
        width: 100%;
        padding-bottom: 24px;
        text-align: center;
        border-bottom: 1px solid #DEE2E6;
        font-size: 24px;
    }
    .section-1-container-3-1-item {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        border: 1px solid #DEE2E6;
        padding: 10px;
        cursor: pointer;
    }
    .section-1-container-3-1-1, .section-1-container-3-1-2, .section-1-container-3-1-3, .section-1-container-3-1-4 {
        display: flex;
        gap: 24px;
    }
    .con-4-h1 {
        width: 100%;
        padding-bottom: 24px;
        text-align: center;
        border-bottom: 1px solid #DEE2E6;
        font-size: 24px;
    }
    .section-1-container-4-1-1, .section-1-container-4-1-2 {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .con-5-h1 {
        width: 100%;
        padding-bottom: 24px;
        text-align: center;
        border-bottom: 1px solid #DEE2E6;
        font-size: 24px;
    }
    .section-1-container-5-1-1 {
        display: flex;
        gap: 20px;
        word-wrap: break-word;
        padding-right: 10px;
        padding-left: 10px;
    }
    .section-1-container-5-1-1 img {
        width: 40%;
        align-self: flex-start;
    }
    .section-1-container-5-1-1-1 {
        display: flex;
        flex-direction: column;
        gap: 33px;
        word-wrap: break-word;
    }
    .section-1-container-5-2 {
        display: flex;
        gap: 24px;
        flex-direction: column;
        align-items: center;
    }
    .section-1-container-5-2-1 {
        word-wrap: break-word;
        width: 80%;
        border-radius: 3px 3px 5px 5px;
        font-size: 20px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0px 8px 8px #bababb;
        border: 2px solid rgba(0, 0, 0, 0.176);
        user-select: none;
        cursor: pointer;
    }
    .section-1-container-6-1-item {
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        border-radius: 6px;
        border: 1px solid rgba(33, 37, 41, 0.10);
        display: flex;
    }
    .footer_container_1 {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 24px;
    }
    .header_container_1_1_1_1_input {
        display: none;
    }
    .header_container_1_1_1_1 {
        gap: 17px;
        margin-left: 56px;
        margin-right: 39px;
    }
    .section-1-container-5-2-1 p {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .section-1-container-5-2-1_text {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .section-1-container-1, .section-1-container-7 {
        display: flex;
        gap: 30px;
        padding-left: 10px;
        padding-right: 10px;
        justify-content: center;
    }
    .section-1-container-1-1 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .section-1-container-2-1-item {
        width: 100%;
    }
    .section-1-container-3-1-item img {
        width: 100%;
        height: auto;
    }
    .section-1-container-3-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width:400px) {
    .header_container_1_1_1_1_input_none {
        display: flex;
        justify-content: center;
    }
    .header_container_1_1_1{
        display: flex;
        color: #fff;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 6px;
    }
    .header_container_1_1_1_1 {
        gap: 17px;
        margin-left: 166px;
        margin-right: 0px;
    }
    .header_container_1_1_1_2 {
        gap: 12px;
    }
    .section-1-container-1, .section-1-container-7 {
        display: grid;
        grid-template-columns: repeat(2, 150px);
        justify-content: center;
        gap: none;
        padding: 0px;
    }
    .section-1-container-2-1 {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .section-1-container-2-1-1, .section-1-container-2-1-2, .section-1-container-2-1-3, .section-1-container-2-1-4 {
        display: flex;
        gap: 12px;
        flex-direction: column;
    }
    .section-1-container-3-1-1, .section-1-container-3-1-2, .section-1-container-3-1-3, .section-1-container-3-1-4 {
        display: grid;
        grid-template-columns: repeat(2, 150px);
        gap: 24px;
    }
    .section-1-container-5-1-1 {
        display: flex;
        align-items: center;
        gap: 20px;
        flex-direction: column;
        word-wrap: break-word;
        padding-right: 0px;
        align-items: center;
        padding-left: 0px;
    }
    .section-1-container-5-1-1 img {
        width: 80%;
        align-self: center;
    }
    .section-1-container-5-1-1-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 33px;
        text-align: center;
        word-wrap: break-word;
        width: 100%;
    }
    .section-1-container-6-1-1, .section-1-container-6-1-2 {
        display: flex;
        gap: 36px;
        flex-direction: column;
    }
    .section-1-container-5-1-1-1 p {
        font-size: 14px;
    }
    .section-1-container-5-2-1 p {
        padding-left: 9px;
    }    
    .footer_container_1 {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 20px;
        flex-direction: column;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .footer_container_1_1, .footer_container_1_2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        gap: 5px;
    }
    .footer_container_1 {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 20px;
        padding: 24px;
        flex-direction: column;
    }
}